* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  

.center {
    padding: 0px calc(50% - 570px);
    min-width: 1140px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #7952b3;
    color: white;
}

.btn-cart {
    background-image: url('../img/cart.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 50px;
    padding-right: 10px;
    font-size: 14px;
    border: 1px solid #ffffff;
    height: 50%;
    border-radius: 5px;
}

.btn-cart:focus {
    outline: 0px;
}

.btn-cart:hover {
    border: 1px solid blue;
}

.products {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-right: -20px;
}

.product-item { 
    margin-right: 20px;
    width: 200px;
}

.by-btn {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.by-btn:hover {
    border-color: #7952b3;
}

.product-item__img {
    width: 200px;
    height: 150px;
    margin: 10px 0;
}